body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	min-width:1024px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:0;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	/*float:left;*/
	width:100%;
	min-width:1024px;
	background-color:#57B8E8;
	overflow:hidden;
    background-image: url(../images/BG_repeat.jpg);
}
#header {
	border-bottom:1px solid #000;
}

#header p,
#header h1,
#header h2 {
	margin:0 0 0 10px;
}
#header ul {	
	width:100%;
	list-style:none;
	margin:0 0 0 0;
	padding:0 0 0 10px;
	background-color: #0d66c4;
    position: relative;
    top:174px;
    left:200px;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:10px;
	text-align:center;
	background:#0089E9;
	color:#FFF;
	text-decoration:none;
	/*position:relative;
	left:15px;*/
	line-height:1.3em;
}
#header ul li a:hover,
#header ul li a.currentPage {
	background:#eee;
	color:#000;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}

/* content */

#content {
	min-width:1024px;
	position: relative;
}

/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (right menu) settings */
.rightmenu {
	background:#eee;		/* right column background colour */
}
.rightmenu .colleft {
	right:25%;			/* right column width */
	background:#fff;		/* left column background colour */
}
.rightmenu .col1 {
	width:71%;			/* left column content width (left column width minus left and right padding) */
	left:27%;			/* (right column width) plus (left column left padding) */
}
.rightmenu .col2 {
	width:21%;			/* right column content width (right column width minus left and right padding) */
	left:31%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	/*float:left;*/
	width:100%;
	min-width:1024px;
	border-top:1px solid #000;
    background: #57B8E8;
    position: relative;
}
#footer p {
	padding:10px;
	margin:0;
}
