#map-canvas {
height: 720px;
min-width: 1024px;
width:100%;
margin:0px;
}
.divrowwrapper {
display: inline-block;
}
#togglelegends {
margin: 10px;
clear: both;
}
#legends {
background: rgba(220, 220, 255, 0.5);
padding: 12px;
}
#legends #togglelegends {
background:#2869E1;
color:white;
border:0;
border-radius:5px;
float:left;
}

.sprite { background-image: url('../../images/Devices_LegendUI.png'); background-color: transparent; background-repeat: no-repeat; }
.notok { width: 32px; height: 37px; background-position: 0px 0px; }
.rain-unknown { width: 32px; height: 37px; background-position: 0px -37px; }
.rain1-notok { width: 32px; height: 37px; background-position: 0px -74px; }
.rain1 { width: 32px; height: 37px; background-position: 0px -111px; }
.rain2-notok { width: 32px; height: 37px; background-position: 0px -148px; }
.rain2 { width: 32px; height: 37px; background-position: 0px -185px; }
.vaisala-notok { width: 32px; height: 37px; background-position: 0px -222px; }
.vaisala { width: 32px; height: 37px; background-position: 0px -259px; }
.waterlevel-notok { width: 32px; height: 37px; background-position: 0px -296px; }
.waterlevel { width: 32px; height: 37px; background-position: 0px -333px; }
.waterlevel2-notok { width: 32px; height: 37px; background-position: 0px -370px; }
.waterlevel2 { width: 32px; height: 37px; background-position: 0px -407px; }
.legend {
margin: 0 auto;
white-space: nowrap;
clear: both;
vertical-align:middle;
}
.legendtitle {
clear: both;
font-weight: bolder;
text-align: center;
padding-top: 10px;
padding-bottom: 6px;
}
.legendicon {
display: inline-block;
vertical-align: middle;
margin-right: 4px;
}
.legendtext {
display: inline-block;
vertical-align: middle;
margin-left: 3px;
}

#view-data-dialog #chart-div {
max-width: 960px;
max-height:420px;
min-height: 180px;
width: 100%;
background-repeat:no-repeat;
background-position: center center;
}

#view-data-dialog #chart-div.dialog--table{
	max-width: 960px;
	max-height:420px;
}

#view-data-dialog #chart-div.dialog--rain,
#view-data-dialog #chart-div.dialog--waterlevel {
	width: 1000px;
	height: 400px;
}

#controls {
	background-color: rgba(220, 220, 255, 0.5);
	padding: 5px;
	margin: 2px;
}