#config, .xtbl {
	border-collapse: collapse;
	margin: 20px 10px 10px 20px;
	padding: 10px;
}
.xtbl th, tr, td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 3px;
	font-size: smaller;
}

td.textalignright {
	text-align: right;
} 

#config label, #config input,  #config button,  #config span {
	vertical-align: top;
}

.rain-chart {
	width: 700px;
	height: 320px;
}
