#config, .xtbl {
	border-collapse: collapse;
	margin: 20px 10px 10px 20px;
	padding: 10px;
}
.xtbl th, tr, td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 3px;
}

td.textalignright {
	text-align: right;
} 

#config label, #config input,  #config button,  #config span {
	vertical-align: top;
}
