#config-form, .xtbl {
	border-collapse: collapse;
	margin: 20px 10px 10px 20px;
	padding: 10px;
}

#config-form label, #config-form input,  #config-form button,  #config-form span {
	vertical-align: middle;
}

#config-form #info-refresh {
	display: block;
	height: 30px;
	margin: 10px;
	padding: 5px 30px 5px;
	font-weight: bold;
}

#config-form .form-group {
	display: inline-block;
	margin: 2px;
}

#config-form #info-refresh span:last-child {
	position: absolute;
	right: 34;
}

.xtbl th, .xtbl tr, .xtbl td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 7px;
	font-size: smaller;
}

.xtbl td:first-child {
	width: 200px;
    text-align: left;
}

.xtbl .rain-chart {
	width: 900px;
	height: 320px;
}

.xtbl .xtbl__close-button {
	margin-left: 10px;
	width: 60px;
	height: 30px;
}

.xtbl td {
	text-align: right;
} 

.xtbl td.data__disabled {

}

