.container {
	padding: 5px 10px;
}

.chart_div {
	width:400px;
	height:300px;
	margin:2px;
	display:inline-block;
	float:left;
	position: relative;
}

.chart {
	width:400px;
	height:280px;
	background-color:#d8d8d8;
}

.provincelabel {
	clear:both;
	background: #2869E1;
	padding: 10px;
	color:white;
}


#datetimepicker_container h2{
	display:inline-block;
}

.chart_overlay {
    height: 20px;
    left: 0;
    right: 0;
    font-size: 8pt;
    background: #2869E1;
	position: absolute;
	z-index: 100;
 }

.chart_overlay.connected {
	left: -10px;
}

.chart_overlay p {
	padding: 4px;
 	margin: 0;
	color: #FFFFFF;
}

.chart_overlay.connected p {
	padding: 4px 14px;
	margin: 0;
	color: #FFFFFF;
}