#map-canvas { 
	height: 520px;
	width:70%;
	float:left;
	display: inline-block;
}
#waterlevel-table { 
	height: 520px;
	width:30%;	
	overflow: scroll;
}

#waterlevel-table table {
	box-sizing: border-box;
	border-collapse:collapse;
	width: 100%;
}

#waterlevel-table table th,
#waterlevel-table table td{
	border-style:dotted;
	border-spacing:0;
	border-width:1px;
	font-size: x-small;
}

.legend {
    margin: 4px;
    white-space: nowrap;
    clear: both;
}

.legend img {
    width: 24px;
}

.legendtitle {
    clear: both;
    font-weight: bolder;
    text-align: center;
}
#togglelegends {
    margin: 10px;
    clear: both;
}
#ticker1 {
	display: none;
	background-color: #181B61;
	color:white;

}
.province_tr {
	background-color: #ececec;
}
.selected_device_tr {
	background-color: #00FFFF !important;
	font-weight:bold;
}

.chartWithOverlay {
   position: relative;
   width:240px;
   height: 200px;
	margin:2px;
	background-color:#d8d8d8;
}

.chart {
	width:240px;
   height:180px;
   float:left;
}

.overlay {
	color: white;
	height: 20px;
	z-index: 1;
	left: 60px;
	top: 60px;
	font-size: 8pt;
	background: #2869E1;
	margin: 0px;
	padding: 3px 5px 0;
}

.divrowwrapper {
	/*float:left;*/
	display: inline-block;
}

#charts_div_container {
	overflow-x: scroll;
		overflow-y: hidden;
	white-space: nowrap;
}

#riverbasins {
	text-align: left;
	font-size: small;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 99;
	width: 200px;
}

#riverbasins ul {
	padding-left: 20px;
	margin: 0;
}


.custom-ctrl {
	background-color : #fff;
	border : 2px solid #fff;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	cursor: pointer;
	margin-bottom: 22px;
	text-align: center;

	color: rgb(25,25,25);
	font-family: Roboto,Arial,sans-serif;
	font-size: 16px;
	line-height: 38px;
	padding-left: 5px;
	padding-right: 5px;
}
.custom-ctrl button {
	background-color: #f5f5f5;
	border: 2px solid rgba(255, 255, 255, 0);
	cursor: pointer;
}

.custom-ctrl button.active {
	background-color: #e1e1e1;
}