#container {
/*	min-width:1212px;
	max-width:1716px;*/
}
.chart_div {
	width:400px;
	height:300px;
	margin:2px;
	
	display:inline-block;
	float:left;
}

.chart {
	width:400px;
	height:280px;
	background-color:#d8d8d8;
}

.provincelabel {
	clear:both;
	background: #2869E1;
	padding: 10px;
	color:white;
}


#datetimepicker_container h2{
	display:inline-block;
}

#charts_div_container {
	padding: 10px;
}

.chart_overlay {
    color: white;
    height: 20px;
    z-index: 100;
    left: 60px;
    top: 60px;
    font-size: 8pt;
    background: #2869E1;
 }

 .chart_overlay p {
 	padding: 4px;
 	margin: 0;
 }